body {
    font-family: 'Lato', sans-serif !important;
}
#kendouimobileapp .image-with-text img {
    float: left;
    margin-right: 15px;
}

#kendouimobileapp .button-block,
#kendouimobileapp .block {
    display: block;
    margin: 2.5em;
    padding: 2.5em;
    text-align: center;
}

#kendouimobileapp .button-submit {
    background-color: #10c4b2;
    color: white;
}

#kendouimobileapp .button-group {
    width: 100%;
    display: table;
    border-collapse: separate;
    border-spacing: 1em;
}

#kendouimobileapp .button-block {
    display: table-cell;
}

#kendouimobileapp .group-separator {
    border: none;
    background: transparent;
}

#kendouimobileapp .group-separator-header {
    margin: 1em 0;
}

#kendouimobileapp .app-icon {
    text-align: center;
    margin: 3em 0;
}

#kendouimobileapp .view-title {
    text-align: center;
    font-weight: normal;
}

#kendouimobileapp .km-drawer-button:after,
#kendouimobileapp .km-drawer-button:before {
    content: '\e077';
}

/* MINING.com CSS */
/* Header Styles */
.app-header { 
 background: #333132
}
.app-header-title {
    line-height: 0; 
    font-size: 0;
    display:block;
    padding: 8px
}
.headline .hidden-data { 
    display: none; 
}
.headline .headline-thumbnail { 
    float: right; 
    margin-left: 1rem;
}
/* /Header Styles */
/* News River Styles */
.headline-title {
    font-size: 1.1rem;
    line-height: 1.2rem;
    font-weight: bold;
    display: block
}
.headline-date {
    display: block;
    font-size: .8rem
}
.headline .hidden-data { 
    display: none; 
}
.headline .headline-thumbnail { 
    float: right;  
    margin-left: 1rem;
}
/* /News River Styles
/* Article Styles */
.km-listinset { 
    margin-top: .2rem;
}
.km-content h1 { 
    margin: 1rem 0 0;
    font-size: 1.4rem
}
.byline { 
    display: block;
    font-size: .8rem;
    padding: .4rem 0 1.5rem;
}
.byline #article-author {
    font-weight: bold
}
.headline-summary p {
    margin-left: 0;
    margin-right: 0;
}
.article-thumbnail {
    display: block;
    max-width: 100%;
    min-width: 300px;
    width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143; 
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
/* /Article Styles */
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
.clearfix {
    display: block;
}

/* /MINING.com CSS */